API_ID = 37513599
API_HASH = '16c026e222cf800bdb8707c4f69eba39'
CITY = "Красный Луч"
BOT_TOKEN = "8591820146:AAG_9TnOwcJ46nncfyifX9wemJEeO4AJWMI"

# Списки указываются через запятую
CHATS_LOCAL=luch24,Kr_Luch_PROvse,Kr_Luch_PROvse_Chat,krluch_novosti,vesti_KrasniyLuch
CHATS_REGIONAL=luganskallnews,prilet_lugansk
CITY_ALIASES=красный луч,кр. луч,кр.луч
KEYWORDS=авария,дтп,происшествие,отключение,пожар,взрыв,бпла
